article img {
    max-width: 280px;
    height: 250px;
}
article {
    max-width: 280px;
    text-align: center;
    margin: 15px;
    padding: 10px;
}
h3 {
    margin: 10px 0;
    font-size: 1.5em;
    font-weight: bolder;
}
h3,
h4 {
    text-align: center;
}
@media(max-width: 728px){   /*728px*/
    #computacion{
        margin-top: 150px;
    }
}
@media(max-width: 513px){   /*513px*/
    #computacion{
        margin-top: 210px;
    }
}
@media(max-width: 340px){   /*340px*/
    #computacion{
        margin-top: 250px;
    }
}