@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 100%;

}
header {
    position: fixed;
    top: 0;
    width: 100%;
    color: white;

    /* background-color: #8780ab; */
}
header .contenedor{
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    /* justify-content: space-around; */
    width: 100%;
    padding: 10px 10px;
    background-color: #8780ab;
}
header h1 {
    font-size: 3em;
}

header p {
    font-size: 2em;
}

section {
    padding-bottom: 20px;
    padding-top: 30px;
    width: 100%;
    height: 100%;
}
main{
    margin-top: 100px;
}
main .contenedor {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}
.parallax{
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
}

